.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(125% 125% at 50% 10%, #E3E3E3 20%, #1B3C53 100%);
  z-index: -10;
}

h1 {
    font-family: Lalezar;
    text-align: center;
    color: #E3E3E3;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: #456882 2px 3px 30px;
    padding-top: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

hr.solid {
  border: 2px solid #E3E3E3;
  margin-top: -30px;
}

#navbar {
  background-color: #1B3C53;
  position: sticky;
  top: 0;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

#navbara {
  display: flex;
  justify-content: center;
  gap: 260px;
  align-items: center;
  padding: 10px 15px;
} 

.button-style {
  text-decoration: none;
}

#dashboard:hover, #messages:hover, #home:hover, #appointment:hover, #menu:hover  {
  transform: scale(1.1) translateY(-10px);
  color: #FFFFFF;
  filter: drop-shadow(0px 15px 15px #456882);
}

#dashboard, #messages, #home, #appointment, #menu {
  background-color: transparent;
  border: none;
  color: #E3E3E3;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
}

#appoint {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.appointment-form {
  background-color: #E3E3E3;
  padding: 40px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 40px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-right {
  justify-content: space-between;
}

.form-group input,
.form-group textarea {
  height: 40px;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  background-color: #1B3C53;
  color: #E3E3E3;
}

label {
  color: #1B3C53;
  font-size: 24px;
  font-weight: 600;
}

#patient_name {
  height: 40px;
  border: none;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px ;
  padding: 5px;
  background-color: #1B3C53;
  color: #E3E3E3;
}

#pet_name {
  height: 40px;
  border: none;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px ;
  padding: 5px;
  background-color: #1B3C53;
  color: #E3E3E3;
}

#specie_type {
  height: 40px;
  border: none;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px ;
  padding: 5px;
  background-color: #1B3C53;
  color: #E3E3E3;
}

#concern {
  height: 200px;
  border: none;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px ;
  padding: 5px;
  background-color: #1B3C53;
  color: #E3E3E3;
}

textarea {
  height: 140px;
  resize: none;
}

input[type = "text"],
input[type = "date"],
textarea {
  width: 100%;
  box-sizing: border-box;
}

i {
  width: 27px;
  height: 27px;
  align-items: center;
}

.fa-credit-card {
  fill: #1B3C53;
}

.button-payment {
  display: flex;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  box-shadow: 10px 10px 20px -10px #456882;
}

#payment {
  background-color: #E3E3E3;
  padding: 10px 10px 5px 10px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-payment:hover {
  border-color: #1B3C53;
}

.button-payment:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #1B3C53;
  color: #E3E3E3;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-size: 22px;  
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #E3E3E3;
  color: #1B3C53;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  transform: translate3d(0, 0, 1em);
}
