.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(125% 125% at 50% 10%, #E3E3E3 20%, #1B3C53 100%);
  z-index: -10;
}

h1 {
    font-family: Lalezar;
    text-align: center;
    color: #E3E3E3;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: #456882 2px 3px 30px;
    padding-top: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

hr.solid {
  border: 2px solid #E3E3E3;
  margin-top: -30px;
}

#navbar {
  background-color: #1B3C53;
  position: sticky;
  top: 0;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

#navbara {
  display: flex;
  justify-content: center;
  gap: 260px;
  align-items: center;
  padding: 10px 15px;
} 

.button-style {
  text-decoration: none;
}

#dashboard:hover, #messages:hover, #home:hover, #appointment:hover, #menu:hover  {
  transform: scale(1.1) translateY(-10px);
  color: #FFFFFF;
  filter: drop-shadow(0px 15px 15px #456882);
}

#dashboard, #messages, #home, #appointment, #menu {
  background-color: transparent;
  border: none;
  color: #E3E3E3;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
}

#veterinarianmsg {
    background-color: #1B3C53;
    color: #E3E3E3;
    width: 990px;
    height: auto;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 60px;
    border-style: none;
    text-align: center;
    margin-top: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    transition-duration: 0.2s;
}

#veterinarianmsg:hover {
  background-color: #E3E3E3;
  color:#1B3C53;
}

#msgs { 
  display: flex; 
  justify-content: center; 
}
