body {
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #E3E3E3;
  filter: brightness(0.95) blur(1px);
  z-index: -10;
}

h1 {
    color: #1B3C53;
    font-family: Lalezar;
    text-transform: uppercase;
    text-shadow: #456882 2px 2px 5px;
    font-size: 95px;
}

.radiob {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  width: 400px;
  overflow: hidden;
  font-family: verdana;
}

.radiob input {
  display: none;
}

.radiob label {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s;
  font-weight: 500;
  font-size: 15px;
}

.radiob .bgbutton {
  position: absolute;
  width: 49%;
  height: 38px;
  background-color: #1B3C53;
  top: 4px;
  left: 4px;
  border-radius: 30px;
  transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#register:checked ~ .bgbutton {
  left: 50%;
}
#login:checked + label[for = "login"] {
  color: #E3E3E3;
  font-family: verdana;
  font-weight: bold;
}

#register:checked + label[for = "register"] {
  color: #E3E3E3;
  font-family: verdana;
  font-weight: bold;
}

#login:not(:checked) + label[for = "login"],
#register:not(:checked) + label[for = "register"] {
  color: #1B3C53;
  font-weight: bold;
}

#login_email , #reg_email {
  width: 255px;
  height: 40px;
  padding: 0 5rem;
  border: 2px solid transparent;
  border-radius: 30px;
  outline: none;
  text-align: center;
  background-color: #1B3C53;
  box-shadow: #456882 0px 7px 7px -5px;
  color: #E3E3E3;
  font-family: monospace;
}

#login_pass , #reg_pass {
  width: 255px;
  height: 40px;
  padding: 0 5rem;
  border: 2px solid transparent;
  border-radius: 30px;
  outline: none;
  text-align: center;
  background-color: #1B3C53;
  box-shadow: #456882 0px 7px 7px -5px;
  color: #E3E3E3;
  font-family: monospace;
}

#login_pass::placeholder , #reg_pass::placeholder, #login_email::placeholder , #reg_email::placeholder {
  color: #E3E3E3;
  font-family: monospace;
}

.form {
  max-width: 670px;
  height: 320px;
  margin: 0 auto;
  padding: 40px 30px;
  border-radius: 35px;
  background: radial-gradient(125% 125% at 50% 10%, #E3E3E3 20%, #1B3C53 100%);
  box-shadow: 0 15px 40px #456882;
  border: 10px solid radial-gradient(125% 125% at 50% 10%, #E3E3E3 20%, #1B3C53 100%);
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 10px;
  color: #1B3C53;
  font-family: monospace;
  text-decoration: underline;
}

button {
 border: 5px solid #1B3C53;
 border-radius: 75px;
 box-sizing: border-box;
 color: #1B3C53;
 background-color: transparent;
 cursor: pointer;
 display: inline-block;
 line-height: normal;
 margin: 0;
 width: 190px;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 font-weight: 900;
}

button:disabled {
 pointer-events: none;
}

button:hover {
 color: #E3E3E3;
 background-color: #1B3C53;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

button:active {
 box-shadow: none;
 transform: translateY(0);
}

input::placeholder {
  opacity: 30%;
}
