.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(125% 125% at 50% 10%, #E3E3E3 20%, #1B3C53 100%);
  z-index: -10;
}

h1 {
    font-family: Lalezar;
    text-align: center;
    color: #E3E3E3;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: #456882 2px 3px 30px;
    padding-top: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

#navbar {
  background-color: #1B3C53;
  position: sticky;
  top: 0;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

#back {
    background-color: transparent;
    color: #1B3C53;
    border-style: none;
    font-size: 40px;
    font-weight: 900;
    margin-left: 5%;
    position: fixed;
    top: 10%;
    left: 10%;
    cursor: pointer;
}

#call {
    background-color: transparent;
    color: #1B3C53;
    border-style: none;
    font-size: 40px;
    font-weight: 900;
    position: fixed;
    top: 10%;
    right: 10%;
    cursor: pointer;
}