body {
    background-color: black;
}

h1 {
    font-family: Coiny;
    text-align: center;
    color: #f4ba7d;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: rgb(128, 122, 42) 2px 3px 30px;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 0%;
}

#navbar {
  background-color: #7b4105;
  position: sticky;
  top: 0;
  z-index: 0;
}

#back {
    background-color: transparent;
    color: #7b4105;
    border-style: none;
    font-size: 40px;
    margin-left: 5%;
    position: fixed;
    top: 10%;
    left: 10%;
    cursor: pointer;
}

#call {
    background-color: transparent;
    color: #7b4105;
    border-style: none;
    font-size: 40px;
    position: fixed;
    top: 10%;
    right: 10%;
    cursor: pointer;
}