body {
  background-color: midnightblue;
}

.chatbox {
  background-color: #E3E3E3;
  color: #1B3C53;
  height: 40px;
  width: 800px;
  border-radius: 20px;
  padding: 0 15px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: row;
  gap: 5px;
  border: 1px solid #456882;
  font-family: monospace;
  display: flex;
  align-items: center;
}

.chatbox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#file {
  display: none;
}

.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fileUploadWrapper label svg {
  height: 18px;
}

.fileUploadWrapper label svg path {
  transition: all 0.3s;
}

.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}

.fileUploadWrapper label:hover svg path {
  stroke: #1B3C53;
}

.fileUploadWrapper label:hover svg circle {
  stroke: #1B3C53;
}

.fileUploadWrapper label:hover .tooltip {
  display: block;
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: #E3E3E3;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #1B3C53;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #456882;
  transition: all 0.3s;
}

#convo {
  width: 200px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: #1B3C53;
  font-family: monospace;
}

#convo:focus ~ #sendButton svg path,
#convo:valid ~ #sendButton svg path {
  fill: none;
  stroke: #1B3C53;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: auto;
}

#sendButton svg {
  height: 20px;
  transition: all 0.3s;
}

#sendButton svg path {
  transition: all 0.3s;
}

#sendButton:hover svg path {
  fill: none;
  stroke: #1B3C53;
}
